.bg-navbar-erin{
    background-color: #00CDBC;
}

.bg-erin{
    background-color: #ffffff;
}

  
.text-align {
    text-align: left;
  }

.btn-btn-custom {
    background-color: #00CDBC;

}

.bg-erinn {
    background-color: #ffffff;
}

.bg-navbar-erinn {
    background-color: #00CDBC;
}

